# Quarto cache folders
.quarto/
.vscode/

# Site output (if using _site instead of docs/)
_site/
_extensions/
_templates/

# Mac system file
.DS_Store

# Drafts or private notes (choose your folder name)
_drafts/

# prompt files
prompts.txt

/.quarto/
