# Quarto cache folders
.quarto/
.vscode/

# Python virtual environment
.venv/

# Site output (if using _site instead of docs/)
_site/
_extensions/
_templates/
lib/

# Mac system file
.DS_Store

# Drafts or private notes (choose your folder name)
_drafts/

# academic papers
_papers/

# AI prompt files
prompts.txt


/.quarto/
.cursor/
